<div class="options-block dot-template J-dot-template">
    {{= dotRender("tagHeadModel", [
    {name: lang.smartyDetect, hide: !getConf("isSmartDetectEn"), id: "smartDetect"},
    {name: lang.smtFaceCmp, hide: !getDevConf('supportFaceCompare'), id: "faceComparison"},
    {name: lang.smtFaceManage, hide: !isHideFaceManage(), id: "smartFaceManage"}
    ])}}
    <!-- 智能侦测 -->
    <div class="tag-block hide" id="smartDetect">
        <div class="">
            <div class="form-item">
                <span class="width200">
                    <label>{{=lang.channel}}</label>
                </span>
                <span>
                    <select id="selSmtDetect" class="medium-select"></select>
                </span>
            </div>
            <div class="form-item xvrSmtEnable hide">
                <span class="width200">
                    <label>{{=lang.smartSwitch}}</label>
                </span>
                <span>
                    <select id="getsmartchnen" class="medium-select" matchval="getsmartchnen">
                        <option value="0">{{=lang.comDisable}}</option>
                        <option value="1">{{=lang.enable}}</option>
                    </select>
                </span>
            </div>
            <div class="form-item xvrSensitivity hide">
                <span class="width200">
                    <label>{{=lang.sensitivity}}</label>
                </span>
                <span>
                    <div id="slideOut" class="slide config-slide"></div>
                </span>
                <span>
                    <div class="padding-left20">
                        <input class="mini-input" maxlength="3" name="ucOutputVolume" matchval="getsmartchnsen" id="ucOutputVolume" type="text"
                            value="0" />
                    </div>
                </span>
            </div>
        </div>
        <!-- 左边 -->
        <div id="videoBlock" class="video-block"></div>
        <!-- 保存按钮 -->
        <div class="div-save">
            <input type="button" id="save" class="btn web-btn" value="{{=lang.save}}" onclick="onSaveClk();" />
        </div>
        <!-- 右边操作区域 -->
        <div id="divTabs" class="hide">
            <ul>
                <li class="xvrHuman hide"><a href="#divHuman" live-type="10">{{=lang.smtHumDet}}</a></li>
                <li><a href="#divFace" live-type="10">{{=lang.faceHumanDetection}}</a></li>
                <li><a href="#divCross" live-type="6">{{=lang.smartEveCrossBor}}</a></li>
                <li><a href="#divBlock" live-type="7">{{=lang.areaDetect}}</a></li>
                <li><a href="#divHover" live-type="7">{{=lang.hoverDetect}}</a></li>
                <li><a href="#divGather" live-type="7">{{=lang.gatherDetect}}</a></li>
            </ul>
            <!-- 人形侦测 -->
            <div id="divHuman" class="hide">
                <table cellspacing="6">
                    <tr>
                        <td id="faceDetHuman">{{=lang.remoteenable}}</td>
                        <td><input type="checkbox" id="gethumandeten" matchval="gethumandeten"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="text" class="hide" matchval="gethumandetchan"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="divHumanAccord" >
                                <h3>{{=lang.handleMode}}</h3>
                                <div class="group">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>{{=lang.buzzeralarm}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="gethumandetbeepen" id="gethumandetbeepen">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{=lang.sendemail1}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="gethumandetsmtpen" id="gethumandetsmtpen">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{=lang.recchannel}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="gethumandetrecorden" id="gethumandetrecorden">
                                                </td>
                                            </tr>
                                            <tr class="alarmout hide">
                                                <td>{{=lang.enAlarmOutput}}</td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 人脸 -->
            <div id="divFace">
                <table cellspacing="6">
                    <tr>
                        <td id="faceDet">{{=lang.detectionMode}}</td>
                        <td>
                            {{= dotRender("formSelectModel", {
                            "list": [lang.dnrModel0, lang.smartEveFace],
                            "attr": {class: "small-select J-face-mode", matchval: "faceDetect.base.detectionMode."}
                            }) }}
                        </td>
                        <!-- <td><input type="checkbox" id="getfacedeten" matchval="faceDetect.base.enable." str="1"></td> -->
                    </tr>
                    <tr class="wififace hide">
                        <td id="humandet">{{=lang.remoteenable}}</td>
                        <td><input type="checkbox" id="gethumandeten" matchval="wififaceDetect.base.enable." str="1"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="text" class="hide" matchval="faceDetect.channel."></td>
                    </tr>
                    <tr class="J-is-humandet">
                        <td colspan="2">
                            <div id="divFaceAccord">
                                <h3>{{=lang.handleMode}}</h3>
                                <div class="group">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>{{=lang.buzzeralarm}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="faceDetect.trigger.enableBuzzer." str="1" id="getfacedetbeepen">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{=lang.sendemail1}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="faceDetect.trigger.enableEmail." str="1" id="getfacedetsmtpen">
                                                </td>
                                            </tr>
                                            <tr class="hide">
                                                <td>{{=lang.up2FTP}}</td>
                                                <td><input type="checkbox" matchval="getfacedetftpen" str="1" id="getfacedetftpen"></td>
                                            </tr>
                                            <tr>
                                                <td>{{=lang.recchannel}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="faceDetect.trigger.enableRecord." str="1"
                                                        id="getfacedetrecorden">
                                                </td>
                                            </tr>
                                            <!-- 报警全屏1 -->
                                            <tr class="fullScreenMonitoring">
                                                <td>{{=lang.fullScreenMonitoring}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="faceDetect.trigger.enableFullScreen." str="1"
                                                        id="getfacedetfullscreenen">
                                                </td>
                                            </tr>
                                            <tr class="alarmout hide">
                                                <td>{{=lang.enAlarmOutput}}</td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h3>{{=lang.roleConfig}}</h3>
                                <div class="group">
                                    <table cellspacing="4">
                                        <tr>
                                            <td>{{=lang.sensitivity}}</td>
                                            <td>
                                                {{= dotRender("formSelectModel", {
                                                "list": [lang.low, lang.middle, lang.high, lang.highest],
                                                "attr": {class: "small-select", matchval: "faceDetect.base.sensitivity."}
                                                }) }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 越界 -->
            <div id="divCross">
                <table cellspacing="6">
                    <tr>
                        <td>{{=lang.remoteenable}}</td>
                        <td><input type="checkbox" id="getcrossborderen" matchval="lineCrossing.base.enable." str="1"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="text" class="hide" matchval="lineCrossing.channel."></td>
                    </tr>
                    <!-- 划线操作 -->
                    <tr>
                        <!-- ui-state-error-text -->
                        <td colspan="2">
                            <button id="btnDrawLine" onclick="onDrawLineClk.call(this);">
                                <span class="ui-icon ui-icon-pencil"></span>
                                {{=lang.drawLine}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button id="btnClearLine" onclick="onClearLineClk();">
                                <span class="ui-icon ui-icon-arrowrefresh-1-w"></span>
                                {{=lang.clearall}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="divCrossAccord">
                                <h3>{{=lang.handleMode}}</h3>
                                <div class="group">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>{{=lang.buzzeralarm}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="lineCrossing.trigger.enableBuzzer." str="1"
                                                        id="getcrossborderbeepen">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{=lang.sendemail1}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="lineCrossing.trigger.enableEmail." str="1"
                                                        id="getcrossbordersmtpen">
                                                </td>
                                            </tr>
                                            <tr class="hide">
                                                <td>{{=lang.up2FTP}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="getcrossborderftpen" id="getcrossborderftpen">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{=lang.recchannel}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="lineCrossing.trigger.enableRecord." str="1"
                                                        id="getcrossborderrecorden">
                                                </td>
                                            </tr>
                                            <!-- 报警全屏 -->
                                            <tr class="fullScreenMonitoring">
                                                <td>{{=lang.fullScreenMonitoring}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="lineCrossing.trigger.enableFullScreen." str="1"
                                                        id="getcrossborderfullscreenen">
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                   <td lang="enAlarmOutput"></td>
                                                   <td>
                                                       <input type="checkbox" matchval="getcrossborderalarmouten"
                                                           id="getcrossborderalarmouten">
                                                   </td>
                                               </tr> -->
                                            <tr class="alarmout hide">
                                                <td>{{=lang.enAlarmOutput}}</td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h3>{{=lang.roleConfig}}</h3>
                                <div class="group">
                                    <table cellspacing="4">
                                        <tr>
                                            <td>{{=lang.rule}}</td>
                                            <td>
                                                <select id="selCrsRule" class="small-select selRule J-rule-type">
                                                    <option value="0">1</option>
                                                    <option value="1">2</option>
                                                    <option value="2">3</option>
                                                    <option value="3">4</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{=lang.sensitivity}}</td>
                                            <td>
                                                <input type="text" class="small-input" id="iptCrossSens" min="0" max="100">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{=lang.direction}}</td>
                                            <td>
                                                <select id="selCrossDirect" class="small-select J-rule-direction">
                                                    <option value="0">A&lt;-&gt;B</option>
                                                    <option value="1">A-&gt;B</option>
                                                    <option value="2">A&lt;-B</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" matchval="getcrossborderrule" class="hide">
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 区域入侵 -->
            <div id="divBlock">
                <table cellspacing="6">
                    <tr>
                        <td>{{=lang.remoteenable}}</td>
                        <td><input type="checkbox" id="getregionalinvasionen" matchval="regionalIntrusion.base.enable." str="1"></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="text" matchval="regionalIntrusion.channel." class="hide"></td>
                    </tr>
                    <tr>
                        <!-- ui-state-error-text -->
                        <td colspan="2">
                            <button data-type='2' class="btnDrawRect J-draw-click" onclick="onDrawRectClk.call(this);">
                                <span class="ui-icon ui-icon-pencil"></span>{{=lang.drawRect}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button onclick="onClearRectClk.call(this)">
                                <span class="ui-icon ui-icon-arrowrefresh-1-w"></span>{{=lang.clearall}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="divBlockAccord">
                                <h3>{{=lang.handleMode}}</h3>
                                <div class="group">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>{{=lang.buzzeralarm}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="regionalIntrusion.trigger.enableBuzzer." str="1"
                                                        id="getregionalinvasionbeepen">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{=lang.sendemail1}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="regionalIntrusion.trigger.enableEmail." str="1"
                                                        id="getregionalinvasionsmtpen">
                                                </td>
                                            </tr>
                                            <tr class="hide">
                                                <td>{{=lang.up2FTP}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="getregionalinvasionftpen" id="getregionalinvasionftpen">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{=lang.recchannel}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="regionalIntrusion.trigger.enableRecord." str="1"
                                                        id="getregionalinvasionrecorden">
                                                </td>
                                            </tr>
                                            <tr class="fullScreenMonitoring">
                                                <td>{{=lang.fullScreenMonitoring}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="regionalIntrusion.trigger.enableFullScreen." str="1"
                                                        id="getregionalinvasionfullscreenen">
                                                </td>
                                            </tr>
                                            <!-- 报警输出 -->
                                            <tr class="alarmout hide">
                                                <td>{{=lang.enAlarmOutput}}</td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h3>{{=lang.roleConfig}}</h3>
                                <div class="group">
                                    <table cellspacing="4">
                                        <tr>
                                            <td>{{=lang.rule}}</td>
                                            <td>
                                                <select id="selBlkRule" class="small-select selRule">
                                                    <option value="0">1</option>
                                                    <option value="1">2</option>
                                                    <option value="2">3</option>
                                                    <option value="3">4</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{=lang.sensitivity}}</td>
                                            <td>
                                                <input type="text" class="small-input" id="iptBlockSens" min="0" max="100">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{=lang.timeThresholdS}}</td>
                                            <td>
                                                <select id="selBlockTime" class="small-select J-rule-time">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" matchval="getregionalinvasionrule" class="hide">
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 徘徊侦测 -->
            <div id="divHover">
                <table cellspacing="6">
                    <tr>
                        <td>{{=lang.remoteenable}}</td>
                        <td><input type="checkbox" matchval="loitering.base.enable." str="1"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" matchval="loitering.channel." class="hide">
                            <input type="text" matchval="getpeoplestayalarmoutmask" class="hide">
                            <input type="text" matchval="getpeoplestaycaptureen" class="hide">
                        </td>
                    </tr>
                    <tr>
                        <!-- ui-state-error-text -->
                        <td colspan="2">
                            <button data-type='3' class="btnDrawRect J-draw-click" onclick="onDrawRectClk.call(this);">
                                <span class="ui-icon ui-icon-pencil"></span>{{=lang.drawRect}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button onclick="onClearRectClk.call(this)">
                                <span class="ui-icon ui-icon-arrowrefresh-1-w"></span>{{=lang.clearall}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="divHoverAccord">
                                <h3>{{=lang.handleMode}}</h3>
                                <div class="group">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>{{=lang.buzzeralarm}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="loitering.trigger.enableBuzzer." str="1">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{=lang.sendemail1}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="loitering.trigger.enableEmail." str="1">
                                                </td>
                                            </tr>
                                            <tr class="hide">
                                                <td>{{=lang.up2FTP}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="getpeoplestayftpen">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{=lang.recchannel}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="loitering.trigger.enableRecord." str="1">
                                                </td>
                                            </tr>
                                            <tr class="fullScreenMonitoring">
                                                <td>{{=lang.fullScreenMonitoring}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="loitering.trigger.enableFullScreen." str="1"
                                                        id="getpeoplestayfullscreenen">
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                   <td lang="enAlarmOutput"></td>
                                                   <td>
                                                       <input type="checkbox" matchval="getpeoplestayalarmouten">
                                                   </td>
                                               </tr> -->
                                            <tr class="alarmout hide">
                                                <td>{{=lang.enAlarmOutput}}</td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h3>{{=lang.roleConfig}}</h3>
                                <div class="group">
                                    <table cellspacing="4">
                                        <tr>
                                            <td>{{=lang.rule}}</td>
                                            <td>
                                                <select id="selHoverRule" class="small-select selRule">
                                                    <option value="0">1</option>
                                                    <option value="1">2</option>
                                                    <option value="2">3</option>
                                                    <option value="3">4</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{=lang.sensitivity}}</td>
                                            <td>
                                                <input type="text" class="small-input" id="iptHoverSens" min="0" max="100">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{=lang.timeThresholdM}}</td>
                                            <td>
                                                <select id="selHoverTime" class="small-select J-rule-time">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                    <option value="10">10</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" matchval="getpeoplestayrule" class="hide">
                        </td>
                    </tr>
                </table>
            </div>
            <!-- 人员聚集 -->
            <div id="divGather">
                <table cellspacing="6">
                    <tr>
                        <td>{{=lang.remoteenable}}</td>
                        <td><input type="checkbox" matchval="peopleGather.base.enable." str="1"></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" matchval="peopleGather.channel." class="hide">
                            <input type="text" matchval="getpeoplegatheringcaptureen" class="hide">
                            <input type="text" matchval="getpeoplegatheringalarmoutmask" class="hide">
                        </td>
                    </tr>
                    <tr>
                        <!-- ui-state-error-text -->
                        <td colspan="2">
                            <button data-type='4' class="btnDrawRect J-draw-click" onclick="onDrawRectClk.call(this);">
                                <span class="ui-icon ui-icon-pencil"></span>{{=lang.drawRect}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button onclick="onClearRectClk.call(this)">
                                <span class="ui-icon ui-icon-arrowrefresh-1-w"></span>{{=lang.clearall}}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="divGatherAccord">
                                <h3>{{=lang.handleMode}}</h3>
                                <div class="group">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>{{=lang.buzzeralarm}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="peopleGather.trigger.enableBuzzer." str="1">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{=lang.sendemail1}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="peopleGather.trigger.enableEmail." str="1">
                                                </td>
                                            </tr>
                                            <tr class="hide">
                                                <td>{{=lang.up2FTP}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="getpeoplegatheringftpen">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>{{=lang.recchannel}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="peopleGather.trigger.enableRecord." str="1">
                                                </td>
                                            </tr>
                                            <tr class="fullScreenMonitoring">
                                                <td>{{=lang.fullScreenMonitoring}}</td>
                                                <td>
                                                    <input type="checkbox" matchval="peopleGather.trigger.enableFullScreen." str="1"
                                                        id="getpeoplegatheringfullscreenen">
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                   <td lang="enAlarmOutput"></td>
                                                   <td>
                                                       <input type="checkbox" matchval="getpeoplegatheringalarmouten">
                                                   </td>
                                               </tr> -->
                                            <tr class="alarmout hide">
                                                <td>{{=lang.enAlarmOutput}}</td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr class="alarmout">
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h3>{{=lang.roleConfig}}</h3>
                                <div class="group">
                                    <table cellspacing="4">
                                        <tr>
                                            <td>{{=lang.rule}}</td>
                                            <td>
                                                <select id="selGatherRule" class="small-select selRule">
                                                    <option value="0">1</option>
                                                    <option value="1">2</option>
                                                    <option value="2">3</option>
                                                    <option value="3">4</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>{{=lang.ratio}}</td>
                                            <td>
                                                <div class="ls-slide"></div>
                                                <input id="iptGahterRadio" type="text" class="ipt-slide" min="1" max="100">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" matchval="getpeoplegatheringrule" class="hide">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- 人脸比对 -->
    <div class="tag-block hide" id="faceComparison">
        <div class="form-item">
            <span class="width200">
                <label>{{=lang.channel}}</label>
            </span>
            <span>
                <select id="selFaceCh" class="medium-select" matchval="faceCompasion.nowChannel."></select>
            </span>
        </div>
        <div class="form-item">
            <label class="lsChk"><input type="checkbox" matchval="faceCompasion.base.enable." str="1">{{=lang.remoteenable}}</label>
        </div>
        <!-- 处理方式 -->
        <div class="form-item">
            <span class="width200">{{=lang.handleMode}}</span>
            <button id="btnHandle" class="ui-button ui-widget ui-corner-all ui-button-icon-only">
                <span class="ui-icon ui-icon-gear"></span>1
            </button>
        </div>
        <div class="form-item simple-table table-block">
            <table width="90%" class="row-border J-face-com-table">
                <thead>
                    <tr>
                        <td><label class="lsChk"><input type="checkbox" id="chkAll">{{=lang.remoteenable}}</label></td>
                        <td><label>{{=lang.libName}}</label></td>
                        <td><label>{{=lang.selectMode}}</label></td>
                        <td><label>{{=lang.similarityEdt}}</label>
                        </td>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="form-item hide" id="tempSelMode">
            {{= dotRender("formSelectModel", {"list": [lang.blackList, lang.whiteList], "attr": {class: "small-input"} }) }}
        </div>
        <div class="form-item hide" id="tempSlide">
            <div class="ls-slide"></div>
            <input type="text" min="0" max="100" def="0" class="ipt-slide">
        </div>
        <div class="form-item"></div>
        <!-- 保存按钮 -->
        <div class="form-item">
            <input type="button" id="save" class="btn web-btn" value="{{=lang.save}}" onclick="faceCompSave();" />
        </div>
        <!-- 弹出框 -->
        <div id="dlgHandle" title="" class="hide">
            <div class="form-item">
                <span class="width200">{{=lang.buzzeralarm}}</span><input type="checkbox" matchval="faceCompasion.trigger.enableBuzzer." str="1">
            </div>
            <div class="form-item">
                <span class="width200">{{=lang.sendemail1}}</span><input type="checkbox" matchval="faceCompasion.trigger.enableEmail." str="1">
            </div>
            <div class="form-item hide">
                <span class="width200">{{=lang.fullScreenMonitoring}}</span><input type="checkbox" matchval="faceCompasion.trigger.enableFullScreen."
                    str="1">
            </div>
            <!-- <div class="form-item hide">
                <span class="width200">{{=lang.up2FTP}}</span><input type="checkbox" matchval="getfacecompareftpen">
            </div> -->
            <div class="form-item hide">
                <span class="width200">{{=lang.recchannel}}</span><input type="checkbox" matchval="faceCompasion.trigger.enableRecord." str="1">
            </div>
            <div class="form-item hide blkAlarm">
                <span class="width200">{{=lang.enAlarmOutput}}</span>
                <!-- <input type="checkbox" matchval="getfacecomparealarmouten"> -->
            </div>
            <!-- <div class="form-item hide xvrBlkAlarm">
                   <span class="width200" lang="enAlarmOutput"></span>
               </div> -->
            <input type="hidden" matchval="getfacecomparecaptureen">
            <input type="hidden" matchval="getfacecomparealarmoutmask">
        </div>
    </div>
    <!-- 人脸库管理 -->
    <div class="tag-block hide" id="smartFaceManage">
        <div class="options-block">
            <div class="">
                <div class="form-item simple-table" id="stcm">
                    <table id="tabFaceLib">
                        <thead>
                            <tr>
                                <td>{{=lang.faceLibName}}</td>
                                <td>{{=lang.nums}}</td>
                                <td>{{=lang.logDetail}}</td>
                                <td>{{=lang.del}}</td>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="form-item subitemW">
                    <button class="btn browser-btn" id="btnAddLib" onclick="onAddLibClk();">{{=lang.addto}}</button>
                    <div class="capacity hide">
                        <span>{{=lang.disktotal}}&nbsp;/&nbsp;</span><span>{{=lang.diskfree}}</span> ：
                        <input type="text" value="">
                    </div>
                </div>
                <div class="form-item"><span>{{=lang.faceLibDetail}}</span></div>
                <div class="form-item">
                    <div class="simple-table" id="stcl">
                        <table id="tabDetail">
                            <thead>
                                <tr>
                                    <td class="logNum">{{=lang.logNum}}</td>
                                    <!-- <td lang="ptzname" class="hide nvrFaceName"></td> -->
                                    <td class="pdname"></td>
                                    <td>{{=lang.del}}</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div id="blkFace">
                        <div>{{=lang.faceModule}}</div>
                        <div id="blkImgSelFace">
                            <img id="imgSelFace" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=">
                        </div>
                    </div>
                </div>
                <div class="form-item">
                    <button class="btn browser-btn" id="btnAddDetail" onclick="onAddDetialClk();" disabled="disabled">{{=lang.addto}}</button>
                </div>
                <div id="dlgAddLid" class="hide">
                    <span class="width100" lang="ptzname">{{=lang.ptzname}}</span>
                    <input type="text" class="medium-input" id="iptLibName" maxlength="27">
                </div>
                <div id="dlgAddDetail" class="hide">
                    <div class="form-item">
                        <div class="blkLeft">
                            <div>
                                <span class="width100">{{=lang.addWay}}</span>
                                <span><input type="radio" name="addType" mode="modeLocal">{{=lang.localPic}}</span>
                                <span><input type="radio" name="addType" mode="modePreview">{{=lang.shootPic}}</span>
                            </div>
                            <div class="addFaceName hide">
                                <span class="width100">{{=lang.addFaceName}}</span>
                                <span><input type="text" class="medium-input" id="addFaceName" name="addFaceName" maxlength="31"></span>
                            </div>
                            <div class="blkLocal">
                                <div>
                                    <input type="text" id="iptImgPath" class="medium-input" readonly="readonly">
                                    <button id="btnBrowser" onclick="onBroweLocalImgClk();" class="btn browser-btn">{{=lang.inputImg}}</button>
                                </div>
                            </div>

                            <div class="blkPreview">
                                <div>
                                    <span class="width100">{{=lang.usercamera}}</span>
                                    <select id="selCh" class="medium-select"></select>
                                </div>
                            </div>
                            <div class="addXvrFaceName hide">
                                <span class="width100">{{=lang.ptzname}}</span>
                                <span><input type="text" class="medium-input" id="addXvrFaceName" name="addXvrFaceName" maxlength="31"></span>
                            </div>
                            <div class="hide funcLibNum">
                                <span class="width100">{{=lang.selectNum}}</span>
                                <select id="selNum" class="medium-select"></select>
                            </div>
                            <div>
                                <button id="btnCapPic" onclick="onBtnCapClk();" class="btn browser-btn">{{=lang.shoot}}</button>
                                <button id="btnCancelCap" onclick="onBtnCancelCapClk();" class="btn browser-btn">{{=lang.cancel}}</button>
                            </div>
                            <canvas id="cav1" width="350" height="220"></canvas>
                        </div>
                        <div class="blkRight">
                            <div>
                                <span>{{=lang.faceModule}}</span>
                            </div>
                            <div id="blkImg">
                                <canvas id="cav2" width="160" height="200"></canvas>
                                <canvas id="cavData" class="hide"></canvas>
                            </div>
                            <div>
                                <button id="btnFetchFaceModule" class="btn browser-btn">{{=lang.getFaceModel}}</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-item blkBtns">
                        <button id="btnConfirmAddDetail" onclick="onAddFaceConfirmClk();" class="btn browser-btn">{{=lang.confirm}}</button>
                        <button id="btnCancelAddDetail" onclick="onAddFaceCancelClk();" class="btn browser-btn">{{=lang.cancel}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="tempDetailBtn" class="hide">
            <button class="ui-button ui-corner-all ui-widget ui-button-icon-only btnLibDetail">
                <span class="ui-button-icon ui-icon ui-icon-gear"></span>
                1
            </button>
        </div>
        <div id="tempDelFaceBtn" class="hide">
            <button class="ui-button ui-corner-all ui-widget ui-button-icon-only btnFaceDel ui-state-error-text">
                <span class="ui-button-icon ui-icon ui-icon-closethick"></span>
                1
            </button>
        </div>
    </div>
</div>